.row
  .col-md-12
    %em= comment.body
    %br
    %code= "Commented #{time_ago_in_words(comment.created_at)} ago"
    %br
      =link_to [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } do
        %i.fas.fa-trash-alt.bigger-130.fa-lg.text-danger
%hr